.test-page {
  min-height: calc(100vh - 78px);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #f7f3ed;
  color: #111111;

  text-align: center;
}

.test-page h1 {
  font-family: Georgia, serif;
  font-size: 56px;
  letter-spacing: 3px;
  margin-bottom: 15px;
}

.test-page p {
  color: #777777;
  letter-spacing: 1px;
}